matplotlib~=3.9.0
numpy~=2.0.0
absl-py
pillow~=10.3.0
torch~=2.3.1
torchvision~=0.18.1
tqdm~=4.66.4
jupyter
opencv-python~=4.10.0.84
scikit-learn
cython==0.29.36
git+https://github.com/lucasb-eyer/pydensecrf.git
kaggle
segmentation-models-pytorch
albumentations
